@model ProductSelectionViewModel

<h2>Products for @Model.CustomerName</h2>

<form asp-action="CalculatePrice" method="post">
    <input type="hidden" asp-for="CustomerId" />
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Special deal</th>
                <th>Discount</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ProductsToOrder.Count; i++)
            {
                <tr>
                    <td>@Model.ProductsToOrder[i].Name</td>
                    <td>@Model.ProductsToOrder[i].StandardPrice.ToString("C")</td>
                    <td>@(@Model.ProductsToOrder[i].HasSpecialDiscount? "Yes":"No")</td>
                    <td>@(Math.Round(@Model.ProductsToOrder[i].SpecialDiscount * 100,1)) %</td>
                    <td>
                        <input type="number" name="ProductsToOrder[@i].Quantity" class="form-control" min="0" />
                        <input type="hidden" name="ProductsToOrder[@i].Id" value="@Model.ProductsToOrder[i].Id" />
                        <input type="hidden" name="ProductsToOrder[@i].Name" value="@Model.ProductsToOrder[i].Name" />
                        <input type="hidden" name="ProductsToOrder[@i].StandardPrice" value="@Model.ProductsToOrder[i].StandardPrice" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Calculate Price</button>
</form>
